<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
        <key>title</key>
		<string>松江1路</string>
        <key>description</key>
		<string>松江客运中心--松江城东站</string>
		<key>content</key>
		<string>[title]松江2路[/title]
首班车:06:00:00
末班车:21:00:00
发车间隔约:15分钟
所有站点:
松江客运中心--谷阳北路文翔路站--谷阳北路新松江路站--谷阳北路北翠路站--谷阳北路南青路站--谷阳北路绿城路站--建设花园站--谷阳北路思贤路站--谷阳北路其昌路站--谷阳北路荣乐路站--荣乐路谷阳北路站--荣乐路沪松公路站--建设大厦站--荣乐路松东路站--松东路环城路站--环城路站--环城路中山中路站--松江城东站
依次经过的道路:
嘉松公路--广富林路--谷阳路--荣乐路--松东路--环城路</string>
	</dict>
	<dict>
		<key>title</key>
		<string>松江2路</string>
        <key>description</key>
		<string>永丰客运中心--永丰客运中心</string>
		<key>content</key>
		<string>[title]松江2路[/title]
首班车:06:00:00
末班车:21:00:00
发车间隔约:15分钟
所有站点:
永丰客运中心--辰塔路乐都西路站--乐都路辰塔路站--乐都路三新路站--三星苑站--乐都西路仓汇路站--乐都西路玉树路站--乐都西路永丰路站--西林小区站--荣乐小区站--乐都路九峰路站--妇保医院站--菜花泾市场站--环城路方塔北路站--环城路松东路站--环城路站--环城路中山中路站--松江城东站--松汇路方塔北路站--松汇路松金公路站--松汇路谷阳南路站--松江一中站--松汇路西林路站--第四福利院站--松汇路玉树路站--松蒸公路玉树路站--种畜场站--松蒸公路站--永丰客运中心
依次经过的道路:
辰塔路--乐都路--环城路--松汇路</string>
	</dict>
    <dict>
		<key>title</key>
		<string>松江3路</string>
        <key>description</key>
		<string>松江客运中心--松江客运中心</string>
		<key>content</key>
		<string>[title]松江3路[/title]
首班车:06:00:00
末班车:21:00:00
发车间隔约:15分钟
所有站点:
松江客运中心--梅家浜路嘉松公路站--梅家浜路人民北路站--龙城路站--江学路新松江路站--新松江路江学路站--西林北路新松江路站--西林北路文诚路站--文诚路西林北路站--江学路思贤路站--思贤路江学路站--玉树北路思贤路站--荣乐路玉树北路站--荣乐路西林路站--荣乐三村站--西林小区站--中心医院站--西林寺站--中山中路人民路站--人民南路松汇路站--松江一中站--谷阳南路松汇路站--谷阳南路中山中路站--谷阳北路中山中路站--谷阳北路中山二路站--谷阳北路乐都路站--松江七中站--谷阳北路荣乐路站--谷阳北路其昌路站--谷阳北路思贤路站--建设花园站--谷阳北路绿城路站--谷阳北路南青路站--谷阳北路北翠路站--谷阳北路新松江路站--谷阳北路文翔路站--松江客运中心
依次经过的道路:
嘉松公路--梅家浜路--人民路--文汇路--龙腾路--文翔路--江学路--新松江路--西林路--文诚路--江学路--思贤路--玉树路--荣乐路--西林路--中山路--人民路--松汇路--谷阳路--梅家浜路</string>
	</dict>
    <dict>
		<key>title</key>
		<string>9号线新城站-乐都路短驳上行</string>
        <key>description</key>
		<string>松江新城地铁站--乐都路汽车站</string>
		<key>content</key>
		<string>[title]9号线新城站-乐都路短驳上行[/title]
首班车:06:00:00
末班车:21:00:00
发车间隔约:15分钟
所有站点:
松江新城地铁站--嘉松公路站--其昌路嘉松公路站--南其昌路站--人民北路其昌路站--人民北路荣乐路站--招商市场站--乐都路九峰路站--乐都路汽车站
依次经过的道路:
通跃路--思贤路--嘉松公路--其昌路--人民路--乐都路</string>
	</dict>
    <dict>
        <key>title</key>
		<string>松江20路</string>
        <key>description</key>
		<string>松江新城地铁站--小昆山汽车站</string>
		<key>content</key>
		<string>[title]松江20路[/title]
首班车:06:00:00
末班车:21:00:00
发车间隔约:20分钟
所有站点:
松江新城地铁站--通跃路站--第一人民医院站--新松江路人民北路站--新松江路江学路站--新松江路江学路站--新松江路滨湖路站--新松江路龙源路站--龙源路新松江路站--立信会计学院站--文翔名苑站--文翔路文涵路站--鼎源路文翔路站--文俊路鼎源路站--文俊路鼎松路站--文俊路鼎盛路站--青云街站--小昆山汽车站
依次经过的道路:
通跃路--新松江路--龙源路--文翔路</string>
	</dict>
    <dict>
        <key>title</key>
		<string>松江16路</string>
        <key>description</key>
		<string>松江客运中心--昆港公路站</string>
		<key>content</key>
		<string>[title]松江16路[/title]
首班车:06:00:00
末班车:21:00:00
发车间隔约:20分钟
所有站点:
松江客运中心--嘉松公路文翔路站--文翔路嘉松公路站--文翔路站--文翔路站--茸兴路站--茸平路茸兴路站--茸平路站--通波路思贤路站--思贤路通波路站--思贤路谷阳北路站--嘉松南路轻轨站站--思贤路嘉松公路站--思贤路人民北路站--西林花园站--思贤路江学路站--思贤路玉华路站--思贤路三新路站--思贤路文涵路站--思贤路辰塔路站--正泰生活区站--正泰电气公司站--同三跨线桥站--港德路昆港公路站--港德路彭丰路站--上海北玻公司站--大港村站--彭三路南环路站--大港中心学校站--港业路彭丰路站--大港经济区站--昆港公路站
依次经过的道路:
嘉松公路--文翔路--茸兴路--茸平路--通波路--思贤路</string>
	</dict>
</array>
</plist>
