<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <dict>
		<key>pushIdentifier</key>
		<string>gotoChengshi</string>
		<key>name</key>
		<string>概况</string>
		<key>imageName</key>
		<string>menu_gaikuang</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>pushIdentifier</key>
		<string>gotoViewSpots</string>
		<key>name</key>
		<string>景点</string>
		<key>imageName</key>
		<string>menu_jingdian</string>
        <key>type</key>
		<string>1</string>
		<key>filename</key>
		<string>view-jingdian</string>
	</dict>
	<dict>
		<key>pushIdentifier</key>
		<string>gotoJiudian</string>
		<key>name</key>
		<string>酒店</string>
		<key>imageName</key>
		<string>menu_jiudian</string>
        <key>type</key>
		<string>2</string>
		<key>filename</key>
		<string>view-jiudian</string>
	</dict>
	<dict>
		<key>pushIdentifier</key>
		<string>gotoCanyin</string>
		<key>name</key>
		<string>餐饮</string>
		<key>imageName</key>
		<string>menu_canyin</string>
        <key>type</key>
		<string>3</string>
		<key>filename</key>
		<string>view-canyin</string>
	</dict>
	<dict>
		<key>pushIdentifier</key>
		<string>gotoViewSpots</string>
		<key>name</key>
		<string>购物</string>
		<key>imageName</key>
		<string>menu_gouwu</string>
        <key>type</key>
		<string>4</string>
		<key>filename</key>
		<string>view-gouwu</string>
	</dict>
	<dict>
		<key>pushIdentifier</key>
		<string>gotoViewSpots</string>
		<key>name</key>
		<string>娱乐</string>
		<key>imageName</key>
		<string>menu_yule</string>
        <key>type</key>
		<string>5</string>
		<key>filename</key>
		<string>view-yule</string>
	</dict>
	<dict>
		<key>pushIdentifier</key>
		<string>gotoJiaotong</string>
		<key>name</key>
		<string>交通</string>
		<key>imageName</key>
		<string>menu_jiaotong</string>
		<key>type</key>
		<string>6</string>
	</dict>
	<dict>
		<key>pushIdentifier</key>
		<string>gotoTianqi</string>
		<key>name</key>
		<string>天气</string>
		<key>imageName</key>
		<string>menu_tianqi</string>
		<key>type</key>
		<string>7</string>
	</dict>
    <dict>
		<key>pushIdentifier</key>
		<string>gotoGonglue</string>
		<key>name</key>
		<string>攻略</string>
		<key>imageName</key>
		<string>menu_gonglue</string>
		<key>type</key>
		<string>8</string>
	</dict>
</array>
</plist>
