<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>西上海高尔夫乡村俱乐部</string>
		<key>imageName</key>
		<string>xishanghai</string>
		<key>description</key>
		<string>西上海高尔夫乡村俱乐部位于上海市松江县车墩镇车亭公路128号。位处大上海繁华闹市的边陲，有一得天独厚之地，四面有茂密园林、青翠田野和润泽湖泊所环抱，环境宁静，景色怡人，自成一阁世外桃源。是大都会的缓冲，闹市的一处绿洲，是都市人休闲生活的好去处。 
球场由美国著名Kan＆Kan设计公司精心设计，球场环抱内湖而建，部分球道更需横越湖泊。整个球会的建筑设计 糅合现代与传统，散发简约而高雅的气氛，加上亭台楼阁之间，有青葱嫩绿的球场和园林田野所环抱，配合水平如镜的湖泊，使室外、室内互相辉映，令人置身其中，或打球，或漫步，便能享受远离繁嚣的清幽宁静。  
西上海高尔夫乡村俱乐部现已建成首期9洞球场，挥杆练习场，练习果岭，会所，中西餐厅，酒吧，桌球室，网球场等，更有策骑场，温泉浴场等。
西上海高尔夫乡村俱乐部位于上海市松江县车墩镇车亭公路128号。位处大上海繁华闹市的边陲，有一得天独厚之地，四面有茂密园林、青翠田野和润泽湖泊所环抱，环境宁静，景色怡人，自成一阁世外桃源。是大都会的缓冲，闹市的一处绿洲，是都市人休闲生活的好去处。
球场由美国著名Kan＆Kan设计公司精心设计，球场环抱内湖而建，部分球道更需横越湖泊。整个球会的建筑设计 糅合现代与传统，散发简约而高雅的气氛，加上亭台楼阁之间，有青葱嫩绿的球场和园林田野所环抱，配合水平如镜的湖泊，使室外、室内互相辉映，令人置身其中，或打球，或漫步，便能享受远离繁嚣的清幽宁静。
西上海高尔夫乡村俱乐部现已建成首期9洞球场，挥杆练习场，练习果岭，会所，中西餐厅，酒吧，桌球室，网球场等，更有策骑场，温泉浴场等。</string>
		<key>address</key>
		<string>上海市松江区车墩镇车亭公路128号</string>
        <key>category</key>
		<string>娱乐;高尔夫</string>
		<key>contact</key>
		<string>021-57601537</string>
		<key>type</key>
		<string>5</string>
	</dict>
	<dict>
		<key>name</key>
		<string>上海开元地中海影城介绍</string>
		<key>imageName</key>
		<string>dizhonghai</string>
		<key>description</key>
		<string>开元地中海影城位于松江新城新松江路927弄（乐购超市四楼），建筑面积达3000平方米，总座位1059个，共设有5个专业影厅，其中有2个数字影厅，1个数字3D影厅，厅内全部配置了自由晃动式座椅及豪华情侣座,是松江首家安装数字、3D设备的五星级标准影院。所有影厅都经过专业建筑声学设计，全部配置进口专业电影数码还音处理系统处理器，音效逼真，3D数字立体电影更让您身临其境，真实感受光影世界！
在这里，纵使时光流逝，美好的记忆永远不会消逝。</string>
		<key>address</key>
		<string>松江区新松江路927弄4042号</string>
        <key>category</key>
		<string>娱乐;开元地中海影城</string>
		<key>contact</key>
		<string>021-37793999</string>
		<key>type</key>
		<string>5</string>
	</dict>
</array>
</plist>
