<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <dict>
            <key>name</key>
            <string>佘山</string>
            <key>pic</key>
            <string>sheshanpic</string>
            <key>littlepic</key>
            <string>sheshanlittlepic</string>
            <key>price</key>
            <string>免费</string>
            <key>address</key>
            <string>上海市松江区佘山</string>
            <key>comment</key>
            <string>评论</string>
            <key>imageName</key>
            <string>sheshan</string>
            <key>latitude</key>
            <real>31.104247</real>
            <key>longitude</key>
            <real>121.229818</real>
            <key>category</key>
            <string>佘山;天文台;景点</string>
            <key>description</key>
            <string>佘山位于中国上海市松江区，分东佘山跟西佘山，海拔分别是98米和97米，是大上海的后花园，上海著名市郊风景区，现建有佘山国家森林公园，山上有著名的天主教朝圣地——佘山圣母大教堂，还有秀道者塔，佘山地震基准台，佘山月湖和佘山天文台。</string>
            <key>type</key>
            <string>1</string>
        </dict>
        <dict>
            <key>name</key>
            <string>泰晤士小镇</string>
            <key>pic</key>
            <string>taiwushipic</string>
            <key>littlepic</key>
            <string>taiwushilittlepic</string>
            <key>price</key>
            <string>免费</string>
            <key>address</key>
            <string>上海市松江区泰晤士小镇</string>
            <key>comment</key>
            <string>评论</string>
            <key>imageName</key>
            <string>taiwushixiaozhen</string>
            <key>latitude</key>
            <real>31.029208</real>
            <key>category</key>
            <string>松江;泰晤士;景点</string>
            <key>longitude</key>
            <real>121.198014</real>
            <key>description</key>
            <string>上海郊区的泰晤士小镇，仿佛将一个英伦小镇整体移至到现实中。从进入小镇的那一刻起，便会不由自主地被小镇绮丽梦幻的英伦风情所吸引。英伦的各时期建筑、街区徐徐展现，仿佛迂回在中世纪的街巷，狭窄曲折的台阶，石板路，街头的雕塑，叠彩的墙面，维多利亚式的露台，哥特式建筑风格的教堂。在这里，仿佛时光倒流，一切都回到了从前，一步步深入这个专为“踱步遐思”者而建的美丽小镇，在流动的建筑中仿佛穿越了时光，莎翁剧中的场景在移步换景中更迭。</string>
            <key>type</key>
            <string>1</string>
        </dict>
        <dict>
            <key>name</key>
            <string>上海方塔园</string>
            <key>pic</key>
            <string>fangtapic</string>
            <key>littlepic</key>
            <string>fangtalittlepic.jpg</string>
            <key>price</key>
            <string>免费</string>
            <key>address</key>
            <string>上海市松江区方塔</string>
            <key>comment</key>
            <string>评论</string>
            <key>imageName</key>
            <string>taiwushixiaozhen</string>
            <key>latitude</key>
            <real>31.006092</real>
            <key>category</key>
            <string>景点;方塔;松江</string>
            <key>longitude</key>
            <real>121.248275</real>
            <key>description</key>
            <string>上海方塔园位于上海市松江老城区的东部，是一座集中展现上海人文历史文化的经典园林。全园占地面积182亩，始建于 1978 年， 1982年正式对外开放。</string>
            <key>type</key>
            <string>1</string>
        </dict>
        <dict>
            <key>name</key>
            <string>上海之根雪浪湖度假村</string>
            <key>pic</key>
            <string>xuelanghupic.jpg</string>
            <key>littlepic</key>
            <string>xuelanghulittlepic</string>
            <key>price</key>
            <string>免费</string>
            <key>address</key>
            <string>上海市松江区雪浪湖</string>
            <key>comment</key>
            <string>评论</string>
            <key>imageName</key>
            <string>taiwushixiaozhen</string>
            <key>latitude</key>
            <real>30.929071</real>
            <key>category</key>
            <string>景点;度假村;松江</string>
            <key>longitude</key>
            <real>121.092305</real>
            <key>description</key>
            <string>上海之根雪浪湖度假村位于上海市松江区新浜镇，临近浙江，交通便利，占地1400多亩，目前总投资约2.2个亿，是按国家五星级标准建造的上海首家露天温泉度假酒店。总体规划分为三期工程，包括餐饮、客房、别墅、会所、会议及接待大厅等各项设施，设有露天温泉、垂钓中心、水上运动、儿童乐园、农家乐、拓展训练等上百种康娱项目，是集商务会晤、观光旅游、休闲度假、农家乐生活体验于一体的旅游度假胜地。</string>
            <key>type</key>
            <string>1</string>
        </dict>
        <dict>
            <key>name</key>
            <string>东方狐狸城</string>
            <key>pic</key>
            <string>hulichengpic.jpg</string>
            <key>littlepic</key>
            <string>hulichenglittlepic.jpg</string>
            <key>price</key>
            <string>无</string>
            <key>address</key>
            <string>近郊松江区叶新公路5885号</string>
            <key>comment</key>
            <string>评论</string>
            <key>imageName</key>
            <string>hulicheng</string>
            <key>latitude</key>
            <real>30.935478</real>
            <key>longitude</key>
            <real>121.160758</real>
            <key>category</key>
            <string>狐狸城;购物</string>
            <key>contact</key>
            <string>021-57899500</string>
            <key>description</key>
            <string>东方狐狸城品牌折扣直销中心位于沪杭高速公路松江新浜出口，占地13万平方米，商场面积超过6.8万平方米，总投资超过2600万美元。由东方国际创业股份有限公司与瑞士FOXTOWN公司合资建设。 东方狐狸城整个商场为三层楼的方形建筑，于2006年5月1日正式对外营业。一楼、二楼经营世界知名品牌服饰(包括服装、鞋帽、箱包、饰品等)，三楼经营意大利家俱及各类艺术品。此外，商埸内还设有意大利餐馆、咖啡馆等。商场将引进世界先进的OUTLET理念，由各大品牌商直接进埸开设品牌折扣直销店，消费者可在东方狐狸城以3-7折的工厂直销价格买到约140个国际级一线、二线品牌服饰。</string>
            <key>type</key>
            <string>1</string>
        </dict>
        <dict>
            <key>name</key>
            <string>上海世茂佘山艾美酒店</string>
            <key>imageName</key>
            <string>aimei</string>
            <key>pic</key>
            <string>aimeipic</string>
            <key>littlepic</key>
            <string>aimeilittlepic</string>
            <key>price</key>
            <string>100-200￥</string>
            <key>address</key>
            <string>上海佘山旅游度假区林荫新路1288号</string>
            <key>comment</key>
            <string>暂无评论</string>
            <key>category</key>
            <string>酒店;艾美;泊月湖</string>
            <key>description</key>
            <string>上海世茂佘山艾美酒店位于上海最大的人工湖泊月湖之畔，枚不胜举的优美名胜和流连忘返的娱乐场所(毗邻国家森林公园,近在咫尺的中国规模最大的欢乐谷)让您备感欧式现代与中式自然完美相融的浪漫气息。方便快捷的地铁9号线可以带您轻松往返市区和酒店之间。</string>
            <key>type</key>
            <string>2</string>
        </dict>
        <dict>
            <key>name</key>
            <string>上海东方佘山索菲特酒店</string>
            <key>imageName</key>
            <string>suofeite</string>
            <key>pic</key>
            <string>suofeitepic.jpg</string>
            <key>littlepic</key>
            <string>suofeitelittlepic.jpg</string>
            <key>price</key>
            <string>200-1000￥</string>
            <key>address</key>
            <string>上海市松江区泗泾镇泗陈公路3388弄</string>
            <key>comment</key>
            <string>暂无评论</string>
            <key>category</key>
            <string>酒店;索菲特;佘山</string>
            <key>description</key>
            <string>上海东方佘山索菲特大酒店坐落于佘山国家旅游度假区，距离市中心仅35分钟车程, 20分钟即可到达虹桥国际机场，50分钟到达浦东国际机场。酒店拥有优雅的托斯卡纳建筑风格，共有豪华客房和套房368间，另有7栋独立园林别墅。</string>
            <key>type</key>
            <string>2</string>
        </dict>
        <dict>
            <key>name</key>
            <string>上海松江开元名都大酒店</string>
            <key>imageName</key>
            <string>kaiyuan</string>
            <key>pic</key>
            <string>kaiyuanpic.png</string>
            <key>littlepic</key>
            <string>kaiyuanlittlepic.jpg</string>
            <key>price</key>
            <string>500-1000￥</string>
            <key>address</key>
            <string>上海市松江区人民北路1799号</string>
            <key>comment</key>
            <string>暂无评论</string>
            <key>category</key>
            <string>酒店;开元名都;松江</string>
            <key>description</key>
            <string>上海松江开元名都大酒店位于上海市松江新城开元广场东侧（人民北路与新松江路之汇），毗邻中央公园，离松江佘山国家旅游度假区近在咫尺，距虹桥机场仅30分钟车程，浦东机场60分钟车程，乘坐9号轻轨45分钟便能直达上海市中心。 </string>
            <key>type</key>
            <string>2</string>
        </dict>
        <dict>
            <key>name</key>
            <string>上海新晖大酒店</string>
            <key>imageName</key>
            <string>xinhui</string>
            <key>pic</key>
            <string>xinhuipic.jpg</string>
            <key>littlepic</key>
            <string>xinhuilittlepic.jpg</string>
            <key>price</key>
            <string>500-2000￥</string>
            <key>address</key>
            <string>上海市松江区文诚路765号</string>
            <key>comment</key>
            <string>暂无评论</string>
            <key>category</key>
            <string>酒店;新晖;松江文汇路</string>
            <key>description</key>
            <string>上海新晖大酒店是一家涉外四星级酒店，坐落在松江新城区，毗邻风景优美的泰晤士小镇，周边是著名的大学城和中央商业区，紧靠沪杭高速公路，离上海市中心仅半小时车程，距虹桥机场仅20分钟车程，浦东机场45分钟车程，交通方便、快捷。</string>
            <key>type</key>
            <string>2</string>
        </dict>
        <dict>
            <key>name</key>
            <string>外婆红烧肉（彩蝶坊）</string>
            <key>imageName</key>
            <string>waipohongshaorou</string>
            <key>pic</key>
            <string>waipojiapic.jpg</string>
            <key>littlepic</key>
            <string>waipojialittlepic.png</string>
            <key>description</key>
            <string>西林路的“彩蝶坊”：采用五花肉，焖烧而成，是外婆们一代一代的传承，也是儿时梦想。</string>
            <key>feature</key>
            <string>浓油赤酱、入口即化。</string>
            <key>department</key>
            <string>上海清源餐饮有限公司（彩蝶坊）</string>
            <key>address</key>
            <string>西林北路333号</string>
            <key>price</key>
            <string>味美价廉</string>
            <key>category</key>
            <string>美食;彩蝶坊;五花肉</string>
            <key>contact</key>
            <string>021-57711197</string>
            <key>type</key>
            <string>3</string>
        </dict>
        <dict>
            <key>name</key>
            <string>草庐第一鲜（草庐酒家）</string>
            <key>imageName</key>
            <string>caolu</string>
            <key>pic</key>
            <string>caolupic.jpg</string>
            <key>littlepic</key>
            <string>caolulittlepic.jpg</string>
            <key>description</key>
            <string>人民北路的百年老店“草庐酒家”：采用吊制原汤加上菌菇、虾干、冬笋、冬雪等制成的汤品。</string>
            <key>feture</key>
            <string>嫩、酥、肥，一吮即见骨。</string>
            <key>department</key>
            <string>上海松江草庐餐饮有限公司（草庐酒家）</string>
            <key>address</key>
            <string>上海松江草庐餐饮有限公司</string>
            <key>price</key>
            <string>味美价廉</string>
            <key>category</key>
            <string>美食;草庐酒家;人民北路</string>
            <key>contact</key>
            <string>021-57812421</string>
            <key>type</key>
            <string>3</string>
        </dict>
        <dict>
            <key>name</key>
            <string>莼菜松江鲈（西部渔村）</string>
            <key>imageName</key>
            <string>chuncai</string>
            <key>pic</key>
            <string>chuncaipic.jpg</string>
            <key>littlepic</key>
            <string>chuncailittlepic.jpg</string>
            <key>description</key>
            <string>鲈鱼肉质洁白肥嫩，经烹调后，肉似蒜瓣，汤汁呈乳白色，清香可口。还具有一定食补作用能入药，可治水气风痹，并有安胎，化痰止咳和促进伤口愈口等作用，被誉为“江南第一名鱼”。</string>
            <key>feture</key>
            <string>嫩、酥、肥，一吮即见骨。</string>
            <key>department</key>
            <string>上海西部渔村垂钓休闲中心（西部渔村）</string>
            <key>address</key>
            <string>上海西部渔村垂钓休闲中心（西部渔村）</string>
            <key>price</key>
            <string>味美价廉</string>
            <key>category</key>
            <string>美食;西部渔村;鲈鱼</string>
            <key>contact</key>
            <string>021-57765579</string>
            <key>type</key>
            <string>3</string>
        </dict>
        <dict>
            <key>name</key>
            <string>烂糊羊肉（张泽羊肉大酒店）</string>
            <key>imageName</key>
            <string>lanhu</string>
            <key>pic</key>
            <string>lanhupic.jpg</string>
            <key>littlepic</key>
            <string>lanhulittlepic.jpg</string>
            <key>description</key>
            <string>张泽羊肉庄烂糊羊肉食时少膻，肥鲜、肉嫩，起到防寒、补肾、强身的作用。特点：酥、烂、鲜、香，咀嚼有丝丝甜味。</string>
            <key>feture</key>
            <string>嫩、酥、肥，一吮即见骨。</string>
            <key>department</key>
            <string>上海雪祥餐饮有限公司（张泽羊肉大酒店）</string>
            <key>address</key>
            <string>上海市松江区滟东路镇南路16号</string>
            <key>price</key>
            <string>味美价廉</string>
            <key>category</key>
            <string>美食;烂糊羊肉;张泽羊肉</string>
            <key>contact</key>
            <string>021-57882190</string>
            <key>type</key>
            <string>3</string>
        </dict>
        <dict>
            <key>name</key>
            <string>东方狐狸城</string>
            <key>pic</key>
            <string>hulichengpic.jpg</string>
            <key>littlepic</key>
            <string>hulichenglittlepic.jpg</string>
            <key>price</key>
            <string>无</string>
            <key>address</key>
            <string>近郊松江区叶新公路5885号</string>
            <key>comment</key>
            <string>评论</string>
            <key>imageName</key>
            <string>hulicheng</string>
            <key>latitude</key>
            <real>30.935478</real>
            <key>longitude</key>
            <real>121.160758</real>
            <key>category</key>
            <string>狐狸城;购物</string>
            <key>contact</key>
            <string>021-57899500</string>
            <key>description</key>
            <string>东方狐狸城品牌折扣直销中心位于沪杭高速公路松江新浜出口，占地13万平方米，商场面积超过6.8万平方米，总投资超过2600万美元。由东方国际创业股份有限公司与瑞士FOXTOWN公司合资建设。 东方狐狸城整个商场为三层楼的方形建筑，于2006年5月1日正式对外营业。一楼、二楼经营世界知名品牌服饰(包括服装、鞋帽、箱包、饰品等)，三楼经营意大利家俱及各类艺术品。此外，商埸内还设有意大利餐馆、咖啡馆等。商场将引进世界先进的OUTLET理念，由各大品牌商直接进埸开设品牌折扣直销店，消费者可在东方狐狸城以3-7折的工厂直销价格买到约140个国际级一线、二线品牌服饰。</string>
            <key>type</key>
            <string>4</string>
        </dict>
        <dict>
            <key>name</key>
            <string>上海金键锐礼品有限公司</string>
            <key>pic</key>
            <string>jinjianpic.jpg</string>
            <key>littlepic</key>
            <string>jinjianlittlepic.jpg</string>
            <key>price</key>
            <string>无</string>
            <key>address</key>
            <string>谷阳北路1500号永翔大厦7楼</string>
            <key>comment</key>
            <string>评论</string>
            <key>imageName</key>
            <string>jinjian</string>
            <key>category</key>
            <string>金键锐礼品;购物</string>
            <key>contact</key>
            <string>021-37728181</string>
            <key>description</key>
            <string>上海金键锐礼品有限公司成立于2003年4月2日，是集研发、设计、策划、销售为一体的专业性礼品公司。公司主营工艺礼品、日用礼品、商务礼品套装、文化办公礼品、促销礼品等。拥有规模化的产品展示厅和国内专业的礼品网站，以科技、文化、健康、时尚为基础引进礼品达2300多种,并依托强大的礼品生产商战略联盟为后盾，为广大客户提供从产品设计、制作到方案实施一站式服务。</string>
            <key>type</key>
            <string>4</string>
        </dict>
        <dict>
            <key>name</key>
            <string>尼奥珠宝</string>
            <key>pic</key>
            <string>niaopic.jpg</string>
            <key>littlepic</key>
            <string>niaolittlepic.jpg</string>
            <key>price</key>
            <string>无</string>
            <key>address</key>
            <string>松江宾馆商务大厦7楼</string>
            <key>comment</key>
            <string>评论</string>
            <key>imageName</key>
            <string>niao</string>
            <key>category</key>
            <string>尼奥珠宝;购物</string>
            <key>contact</key>
            <string>021-37728181</string>
            <key>description</key>
            <string>主营结婚钻戒、特价千足金等各类珠宝。预约咨询：13818260140（小卫）。我们提供免费停车位。一对一个性首饰定做免费设计。每日客户秀图片贴</string>
            <key>type</key>
            <string>4</string>
        </dict>
        <dict>
            <key>name</key>
            <string>西上海高尔夫乡村俱乐部</string>
            <key>imageName</key>
            <string>xishanghai</string>
            <key>description</key>
            <string>西上海高尔夫乡村俱乐部位于上海市松江县车墩镇车亭公路128号。位处大上海繁华闹市的边陲，有一得天独厚之地，四面有茂密园林、青翠田野和润泽湖泊所环抱，环境宁静，景色怡人，自成一阁世外桃源。是大都会的缓冲，闹市的一处绿洲，是都市人休闲生活的好去处。
                球场由美国著名Kan＆Kan设计公司精心设计，球场环抱内湖而建，部分球道更需横越湖泊。整个球会的建筑设计 糅合现代与传统，散发简约而高雅的气氛，加上亭台楼阁之间，有青葱嫩绿的球场和园林田野所环抱，配合水平如镜的湖泊，使室外、室内互相辉映，令人置身其中，或打球，或漫步，便能享受远离繁嚣的清幽宁静。
                西上海高尔夫乡村俱乐部现已建成首期9洞球场，挥杆练习场，练习果岭，会所，中西餐厅，酒吧，桌球室，网球场等，更有策骑场，温泉浴场等。
                西上海高尔夫乡村俱乐部位于上海市松江县车墩镇车亭公路128号。位处大上海繁华闹市的边陲，有一得天独厚之地，四面有茂密园林、青翠田野和润泽湖泊所环抱，环境宁静，景色怡人，自成一阁世外桃源。是大都会的缓冲，闹市的一处绿洲，是都市人休闲生活的好去处。
                球场由美国著名Kan＆Kan设计公司精心设计，球场环抱内湖而建，部分球道更需横越湖泊。整个球会的建筑设计 糅合现代与传统，散发简约而高雅的气氛，加上亭台楼阁之间，有青葱嫩绿的球场和园林田野所环抱，配合水平如镜的湖泊，使室外、室内互相辉映，令人置身其中，或打球，或漫步，便能享受远离繁嚣的清幽宁静。
                西上海高尔夫乡村俱乐部现已建成首期9洞球场，挥杆练习场，练习果岭，会所，中西餐厅，酒吧，桌球室，网球场等，更有策骑场，温泉浴场等。</string>
            <key>address</key>
            <string>上海市松江区车墩镇车亭公路128号</string>
            <key>category</key>
            <string>娱乐;高尔夫</string>
            <key>contact</key>
            <string>021-57601537</string>
            <key>type</key>
            <string>5</string>
        </dict>
        <dict>
            <key>name</key>
            <string>上海开元地中海影城介绍</string>
            <key>imageName</key>
            <string>dizhonghai</string>
            <key>description</key>
            <string>开元地中海影城位于松江新城新松江路927弄（乐购超市四楼），建筑面积达3000平方米，总座位1059个，共设有5个专业影厅，其中有2个数字影厅，1个数字3D影厅，厅内全部配置了自由晃动式座椅及豪华情侣座,是松江首家安装数字、3D设备的五星级标准影院。所有影厅都经过专业建筑声学设计，全部配置进口专业电影数码还音处理系统处理器，音效逼真，3D数字立体电影更让您身临其境，真实感受光影世界！
                在这里，纵使时光流逝，美好的记忆永远不会消逝。</string>
            <key>address</key>
            <string>松江区新松江路927弄4042号</string>
            <key>category</key>
            <string>娱乐;开元地中海影城</string>
            <key>contact</key>
            <string>021-37793999</string>
            <key>type</key>
            <string>5</string>
        </dict>
    </array>
</plist>
