<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>东方狐狸城</string>
		<key>pic</key>
		<string>hulichengpic.jpg</string>
		<key>littlepic</key>
		<string>hulichenglittlepic.jpg</string>
		<key>price</key>
		<string>无</string>
		<key>address</key>
		<string>近郊松江区叶新公路5885号</string>
		<key>comment</key>
		<string>评论</string>
		<key>imageName</key>
		<string>hulicheng</string>
		<key>latitude</key>
		<real>30.935478</real>
		<key>longitude</key>
		<real>121.160758</real>
		<key>category</key>
		<string>狐狸城;购物</string>
        <key>contact</key>
		<string>021-57899500</string>
		<key>description</key>
		<string>东方狐狸城品牌折扣直销中心位于沪杭高速公路松江新浜出口，占地13万平方米，商场面积超过6.8万平方米，总投资超过2600万美元。由东方国际创业股份有限公司与瑞士FOXTOWN公司合资建设。 东方狐狸城整个商场为三层楼的方形建筑，于2006年5月1日正式对外营业。一楼、二楼经营世界知名品牌服饰(包括服装、鞋帽、箱包、饰品等)，三楼经营意大利家俱及各类艺术品。此外，商埸内还设有意大利餐馆、咖啡馆等。商场将引进世界先进的OUTLET理念，由各大品牌商直接进埸开设品牌折扣直销店，消费者可在东方狐狸城以3-7折的工厂直销价格买到约140个国际级一线、二线品牌服饰。</string>
		<key>type</key>
		<string>4</string>
	</dict>
	<dict>
		<key>name</key>
		<string>上海金键锐礼品有限公司</string>
		<key>pic</key>
		<string>jinjianpic.jpg</string>
		<key>littlepic</key>
		<string>jinjianlittlepic.jpg</string>
		<key>price</key>
		<string>无</string>
		<key>address</key>
		<string>谷阳北路1500号永翔大厦7楼</string>
		<key>comment</key>
		<string>评论</string>
		<key>imageName</key>
		<string>jinjian</string>
		<key>category</key>
		<string>金键锐礼品;购物</string>
        <key>contact</key>
		<string>021-37728181</string>
		<key>description</key>
		<string>上海金键锐礼品有限公司成立于2003年4月2日，是集研发、设计、策划、销售为一体的专业性礼品公司。公司主营工艺礼品、日用礼品、商务礼品套装、文化办公礼品、促销礼品等。拥有规模化的产品展示厅和国内专业的礼品网站，以科技、文化、健康、时尚为基础引进礼品达2300多种,并依托强大的礼品生产商战略联盟为后盾，为广大客户提供从产品设计、制作到方案实施一站式服务。</string>
		<key>type</key>
		<string>4</string>
	</dict>
	<dict>
		<key>name</key>
		<string>尼奥珠宝</string>
		<key>pic</key>
		<string>niaopic.jpg</string>
		<key>littlepic</key>
		<string>niaolittlepic.jpg</string>
		<key>price</key>
		<string>无</string>
		<key>address</key>
		<string>松江宾馆商务大厦7楼</string>
		<key>comment</key>
		<string>评论</string>
		<key>imageName</key>
		<string>niao</string>
		<key>category</key>
		<string>尼奥珠宝;购物</string>
        <key>contact</key>
		<string>021-37728181</string>
		<key>description</key>
		<string>主营结婚钻戒、特价千足金等各类珠宝。预约咨询：13818260140（小卫）。我们提供免费停车位。一对一个性首饰定做免费设计。每日客户秀图片贴</string>
		<key>type</key>
		<string>4</string>
	</dict>
</array>
</plist>
