<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>外婆红烧肉（彩蝶坊）</string>
		<key>imageName</key>
		<string>waipohongshaorou</string>
        <key>pic</key>
		<string>waipojiapic.jpg</string>
		<key>littlepic</key>
		<string>waipojialittlepic.png</string>
		<key>description</key>
		<string>西林路的“彩蝶坊”：采用五花肉，焖烧而成，是外婆们一代一代的传承，也是儿时梦想。</string>
		<key>feature</key>
		<string>浓油赤酱、入口即化。</string>
		<key>department</key>
		<string>上海清源餐饮有限公司（彩蝶坊）</string>
		<key>address</key>
		<string>西林北路333号</string>
		<key>price</key>
		<string>味美价廉</string>
        <key>category</key>
		<string>美食;彩蝶坊;五花肉</string>
		<key>contact</key>
		<string>021-57711197</string>
		<key>type</key>
		<string>3</string>
	</dict>
	<dict>
		<key>name</key>
		<string>草庐第一鲜（草庐酒家）</string>
		<key>imageName</key>
		<string>caolu</string>
        <key>pic</key>
		<string>caolupic.jpg</string>
		<key>littlepic</key>
		<string>caolulittlepic.jpg</string>
		<key>description</key>
		<string>人民北路的百年老店“草庐酒家”：采用吊制原汤加上菌菇、虾干、冬笋、冬雪等制成的汤品。</string>
		<key>feture</key>
		<string>嫩、酥、肥，一吮即见骨。</string>
		<key>department</key>
		<string>上海松江草庐餐饮有限公司（草庐酒家）</string>
		<key>address</key>
		<string>上海松江草庐餐饮有限公司</string>
		<key>price</key>
		<string>味美价廉</string>
        <key>category</key>
		<string>美食;草庐酒家;人民北路</string>
		<key>contact</key>
		<string>021-57812421</string>
		<key>type</key>
		<string>3</string>
	</dict>
	<dict>
		<key>name</key>
		<string>莼菜松江鲈（西部渔村）</string>
		<key>imageName</key>
		<string>chuncai</string>
        <key>pic</key>
		<string>chuncaipic.jpg</string>
		<key>littlepic</key>
		<string>chuncailittlepic.jpg</string>
		<key>description</key>
		<string>鲈鱼肉质洁白肥嫩，经烹调后，肉似蒜瓣，汤汁呈乳白色，清香可口。还具有一定食补作用能入药，可治水气风痹，并有安胎，化痰止咳和促进伤口愈口等作用，被誉为“江南第一名鱼”。</string>
		<key>feture</key>
		<string>嫩、酥、肥，一吮即见骨。</string>
		<key>department</key>
		<string>上海西部渔村垂钓休闲中心（西部渔村）</string>
		<key>address</key>
		<string>上海西部渔村垂钓休闲中心（西部渔村）</string>
		<key>price</key>
		<string>味美价廉</string>
        <key>category</key>
		<string>美食;西部渔村;鲈鱼</string>
		<key>contact</key>
		<string>021-57765579</string>
		<key>type</key>
		<string>3</string>
	</dict>
	<dict>
		<key>name</key>
		<string>烂糊羊肉（张泽羊肉大酒店）</string>
		<key>imageName</key>
		<string>lanhu</string>
        <key>pic</key>
		<string>lanhupic.jpg</string>
		<key>littlepic</key>
		<string>lanhulittlepic.jpg</string>
		<key>description</key>
		<string>张泽羊肉庄烂糊羊肉食时少膻，肥鲜、肉嫩，起到防寒、补肾、强身的作用。特点：酥、烂、鲜、香，咀嚼有丝丝甜味。</string>
		<key>feture</key>
		<string>嫩、酥、肥，一吮即见骨。</string>
		<key>department</key>
		<string>上海雪祥餐饮有限公司（张泽羊肉大酒店）</string>
		<key>address</key>
		<string>上海市松江区滟东路镇南路16号</string>
		<key>price</key>
		<string>味美价廉</string>
        <key>category</key>
		<string>美食;烂糊羊肉;张泽羊肉</string>
		<key>contact</key>
		<string>021-57882190</string>
		<key>type</key>
		<string>3</string>
	</dict>
</array>
</plist>
