<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>佘山</string>
		<key>pic</key>
		<string>sheshanpic</string>
		<key>littlepic</key>
		<string>sheshanlittlepic</string>
		<key>price</key>
		<string>免费</string>
		<key>address</key>
		<string>上海市松江区佘山</string>
		<key>comment</key>
		<string>评论</string>
		<key>imageName</key>
		<string>sheshan</string>
		<key>latitude</key>
		<real>31.104247</real>
		<key>longitude</key>
		<real>121.229818</real>
		<key>category</key>
		<string>佘山;天文台;景点</string>
		<key>description</key>
		<string>佘山位于中国上海市松江区，分东佘山跟西佘山，海拔分别是98米和97米，是大上海的后花园，上海著名市郊风景区，现建有佘山国家森林公园，山上有著名的天主教朝圣地——佘山圣母大教堂，还有秀道者塔，佘山地震基准台，佘山月湖和佘山天文台。</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>泰晤士小镇</string>
		<key>pic</key>
		<string>taiwushipic</string>
		<key>littlepic</key>
		<string>taiwushilittlepic</string>
		<key>price</key>
		<string>免费</string>
		<key>address</key>
		<string>上海市松江区泰晤士小镇</string>
		<key>comment</key>
		<string>评论</string>
		<key>imageName</key>
		<string>taiwushixiaozhen</string>
		<key>latitude</key>
		<real>31.029208</real>
		<key>category</key>
		<string>松江;泰晤士;景点</string>
		<key>longitude</key>
		<real>121.198014</real>
		<key>description</key>
		<string>上海郊区的泰晤士小镇，仿佛将一个英伦小镇整体移至到现实中。从进入小镇的那一刻起，便会不由自主地被小镇绮丽梦幻的英伦风情所吸引。英伦的各时期建筑、街区徐徐展现，仿佛迂回在中世纪的街巷，狭窄曲折的台阶，石板路，街头的雕塑，叠彩的墙面，维多利亚式的露台，哥特式建筑风格的教堂。在这里，仿佛时光倒流，一切都回到了从前，一步步深入这个专为“踱步遐思”者而建的美丽小镇，在流动的建筑中仿佛穿越了时光，莎翁剧中的场景在移步换景中更迭。</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>上海方塔园</string>
		<key>pic</key>
		<string>fangtapic</string>
		<key>littlepic</key>
		<string>fangtalittlepic.jpg</string>
		<key>price</key>
		<string>免费</string>
		<key>address</key>
		<string>上海市松江区方塔</string>
		<key>comment</key>
		<string>评论</string>
		<key>imageName</key>
		<string>taiwushixiaozhen</string>
		<key>latitude</key>
		<real>31.006092</real>
		<key>category</key>
		<string>景点;方塔;松江</string>
		<key>longitude</key>
		<real>121.248275</real>
		<key>description</key>
		<string>上海方塔园位于上海市松江老城区的东部，是一座集中展现上海人文历史文化的经典园林。全园占地面积182亩，始建于 1978 年， 1982年正式对外开放。</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>上海之根雪浪湖度假村</string>
		<key>pic</key>
		<string>xuelanghupic.jpg</string>
		<key>littlepic</key>
		<string>xuelanghulittlepic</string>
		<key>price</key>
		<string>免费</string>
		<key>address</key>
		<string>上海市松江区雪浪湖</string>
		<key>comment</key>
		<string>评论</string>
		<key>imageName</key>
		<string>taiwushixiaozhen</string>
		<key>latitude</key>
		<real>30.929071</real>
		<key>category</key>
		<string>景点;度假村;松江</string>
		<key>longitude</key>
		<real>121.092305</real>
		<key>description</key>
		<string>上海之根雪浪湖度假村位于上海市松江区新浜镇，临近浙江，交通便利，占地1400多亩，目前总投资约2.2个亿，是按国家五星级标准建造的上海首家露天温泉度假酒店。总体规划分为三期工程，包括餐饮、客房、别墅、会所、会议及接待大厅等各项设施，设有露天温泉、垂钓中心、水上运动、儿童乐园、农家乐、拓展训练等上百种康娱项目，是集商务会晤、观光旅游、休闲度假、农家乐生活体验于一体的旅游度假胜地。</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>东方狐狸城</string>
		<key>pic</key>
		<string>hulichengpic.jpg</string>
		<key>littlepic</key>
		<string>hulichenglittlepic.jpg</string>
		<key>price</key>
		<string>无</string>
		<key>address</key>
		<string>近郊松江区叶新公路5885号</string>
		<key>comment</key>
		<string>评论</string>
		<key>imageName</key>
		<string>hulicheng</string>
		<key>latitude</key>
		<real>30.935478</real>
		<key>longitude</key>
		<real>121.160758</real>
		<key>category</key>
		<string>狐狸城;购物</string>
        <key>contact</key>
		<string>021-57899500</string>
		<key>description</key>
		<string>东方狐狸城品牌折扣直销中心位于沪杭高速公路松江新浜出口，占地13万平方米，商场面积超过6.8万平方米，总投资超过2600万美元。由东方国际创业股份有限公司与瑞士FOXTOWN公司合资建设。 东方狐狸城整个商场为三层楼的方形建筑，于2006年5月1日正式对外营业。一楼、二楼经营世界知名品牌服饰(包括服装、鞋帽、箱包、饰品等)，三楼经营意大利家俱及各类艺术品。此外，商埸内还设有意大利餐馆、咖啡馆等。商场将引进世界先进的OUTLET理念，由各大品牌商直接进埸开设品牌折扣直销店，消费者可在东方狐狸城以3-7折的工厂直销价格买到约140个国际级一线、二线品牌服饰。</string>
		<key>type</key>
		<string>1</string>
	</dict>
</array>
</plist>
