<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>上海世茂佘山艾美酒店</string>
		<key>imageName</key>
		<string>aimei</string>
        <key>pic</key>
		<string>aimeipic</string>
		<key>littlepic</key>
		<string>aimeilittlepic</string>
		<key>price</key>
		<string>100-200￥</string>
		<key>address</key>
		<string>上海佘山旅游度假区林荫新路1288号</string>
		<key>comment</key>
		<string>暂无评论</string>
        <key>category</key>
		<string>酒店;艾美;泊月湖</string>
		<key>description</key>
		<string>上海世茂佘山艾美酒店位于上海最大的人工湖泊月湖之畔，枚不胜举的优美名胜和流连忘返的娱乐场所(毗邻国家森林公园,近在咫尺的中国规模最大的欢乐谷)让您备感欧式现代与中式自然完美相融的浪漫气息。方便快捷的地铁9号线可以带您轻松往返市区和酒店之间。</string>
		<key>type</key>
		<string>2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>上海东方佘山索菲特酒店</string>
		<key>imageName</key>
		<string>suofeite</string>
        <key>pic</key>
		<string>suofeitepic.jpg</string>
		<key>littlepic</key>
		<string>suofeitelittlepic.jpg</string>
		<key>price</key>
		<string>200-1000￥</string>
		<key>address</key>
		<string>上海市松江区泗泾镇泗陈公路3388弄</string>
		<key>comment</key>
		<string>暂无评论</string>
        <key>category</key>
		<string>酒店;索菲特;佘山</string>
		<key>description</key>
		<string>上海东方佘山索菲特大酒店坐落于佘山国家旅游度假区，距离市中心仅35分钟车程, 20分钟即可到达虹桥国际机场，50分钟到达浦东国际机场。酒店拥有优雅的托斯卡纳建筑风格，共有豪华客房和套房368间，另有7栋独立园林别墅。</string>
		<key>type</key>
		<string>2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>上海松江开元名都大酒店</string>
		<key>imageName</key>
		<string>kaiyuan</string>
        <key>pic</key>
		<string>kaiyuanpic.png</string>
		<key>littlepic</key>
		<string>kaiyuanlittlepic.jpg</string>
		<key>price</key>
		<string>500-1000￥</string>
		<key>address</key>
		<string>上海市松江区人民北路1799号</string>
		<key>comment</key>
		<string>暂无评论</string>
        <key>category</key>
		<string>酒店;开元名都;松江</string>
		<key>description</key>
		<string>上海松江开元名都大酒店位于上海市松江新城开元广场东侧（人民北路与新松江路之汇），毗邻中央公园，离松江佘山国家旅游度假区近在咫尺，距虹桥机场仅30分钟车程，浦东机场60分钟车程，乘坐9号轻轨45分钟便能直达上海市中心。 </string>
		<key>type</key>
		<string>2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>上海新晖大酒店</string>
		<key>imageName</key>
		<string>xinhui</string>
        <key>pic</key>
		<string>xinhuipic.jpg</string>
		<key>littlepic</key>
		<string>xinhuilittlepic.jpg</string>
		<key>price</key>
		<string>500-2000￥</string>
		<key>address</key>
		<string>上海市松江区文诚路765号</string>
		<key>comment</key>
		<string>暂无评论</string>
        <key>category</key>
		<string>酒店;新晖;松江文汇路</string>
		<key>description</key>
		<string>上海新晖大酒店是一家涉外四星级酒店，坐落在松江新城区，毗邻风景优美的泰晤士小镇，周边是著名的大学城和中央商业区，紧靠沪杭高速公路，离上海市中心仅半小时车程，距虹桥机场仅20分钟车程，浦东机场45分钟车程，交通方便、快捷。</string>
		<key>type</key>
		<string>2</string>
	</dict>
</array>
</plist>
