<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <dict>
            <key>title</key>
            <string>经典坐标</string>
            <key>image</key>
            <string>http://e.hiphotos.baidu.com/album/w%3D2048/sign=f8aa2be95fdf8db1bc2e7b643d1bdc54/9e3df8dcd100baa169db6dca4610b912c9fc2ecf.jpg</string>
            <key>images</key>
            <array>
                <dict>
                    <key>url</key>
                    <string>http://e.hiphotos.baidu.com/album/w%3D2048/sign=f8aa2be95fdf8db1bc2e7b643d1bdc54/9e3df8dcd100baa169db6dca4610b912c9fc2ecf.jpg</string>
                    <key>description</key>
                    <string>这是描述，现在没有内容，请尽快填充内容，松江旅游是一款APP，介绍松江的景点，由东华大学153实验室设计开发，谢谢大家关注</string>
                </dict>
                <dict>
                    <key>url</key>
                    <string>http://e.hiphotos.baidu.com/album/w%3D2048/sign=f8aa2be95fdf8db1bc2e7b643d1bdc54/9e3df8dcd100baa169db6dca4610b912c9fc2ecf.jpg</string>
                    <key>description</key>
                    <string>这是描述，现在没有内容，请尽快填充内容</string>
                </dict>
                <dict>
                    <key>url</key>
                    <string>http://e.hiphotos.baidu.com/album/w%3D2048/sign=f8aa2be95fdf8db1bc2e7b643d1bdc54/9e3df8dcd100baa169db6dca4610b912c9fc2ecf.jpg</string>
                    <key>description</key>
                    <string>这是描述，现在没有内容，请尽快填充内容</string>
                </dict>
            </array>
        </dict>
        <dict>
            <key>title</key>
            <string>人文风情</string>
            <key>image</key>
            <string>http://f.hiphotos.baidu.com/album/w%3D2048/sign=250a2862730e0cf3a0f749fb3e7ef31f/faf2b2119313b07e7fd8d5780dd7912397dd8c5d.jpg</string>
            <key>images</key>
            <array>
                <dict>
                    <key>url</key>
                    <string>http://e.hiphotos.baidu.com/album/w%3D2048/sign=f8aa2be95fdf8db1bc2e7b643d1bdc54/9e3df8dcd100baa169db6dca4610b912c9fc2ecf.jpg</string>
                    <key>description</key>
                    <string>这是描述，现在没有内容，请尽快填充内容</string>
                </dict>
                <dict>
                    <key>url</key>
                    <string>http://e.hiphotos.baidu.com/album/w%3D2048/sign=f8aa2be95fdf8db1bc2e7b643d1bdc54/9e3df8dcd100baa169db6dca4610b912c9fc2ecf.jpg</string>
                    <key>description</key>
                    <string>这是描述，现在没有内容，请尽快填充内容</string>
                </dict>
                <dict>
                    <key>url</key>
                    <string>http://e.hiphotos.baidu.com/album/w%3D2048/sign=f8aa2be95fdf8db1bc2e7b643d1bdc54/9e3df8dcd100baa169db6dca4610b912c9fc2ecf.jpg</string>
                    <key>description</key>
                    <string>这是描述，现在没有内容，请尽快填充内容</string>
                </dict>
            </array>
        </dict>
        <dict>
            <key>title</key>
            <string>招牌美食</string>
            <key>image</key>
            <string>http://e.hiphotos.baidu.com/album/w%3D2048/sign=4eb50e496a63f6241c5d3e03b37ceaf8/902397dda144ad34e52802f7d1a20cf431ad852f.jpg</string>
            <key>images</key>
            <array>
                <dict>
                    <key>url</key>
                    <string>http://e.hiphotos.baidu.com/album/w%3D2048/sign=f8aa2be95fdf8db1bc2e7b643d1bdc54/9e3df8dcd100baa169db6dca4610b912c9fc2ecf.jpg</string>
                    <key>description</key>
                    <string>这是描述，现在没有内容，请尽快填充内容</string>
                </dict>
                <dict>
                    <key>url</key>
                    <string>http://e.hiphotos.baidu.com/album/w%3D2048/sign=f8aa2be95fdf8db1bc2e7b643d1bdc54/9e3df8dcd100baa169db6dca4610b912c9fc2ecf.jpg</string>
                    <key>description</key>
                    <string>这是描述，现在没有内容，请尽快填充内容</string>
                </dict>
                <dict>
                    <key>url</key>
                    <string>http://e.hiphotos.baidu.com/album/w%3D2048/sign=f8aa2be95fdf8db1bc2e7b643d1bdc54/9e3df8dcd100baa169db6dca4610b912c9fc2ecf.jpg</string>
                    <key>description</key>
                    <string>这是描述，现在没有内容，请尽快填充内容</string>
                </dict>
            </array>
        </dict>
        <dict>
            <key>title</key>
            <string>松江特色</string>
            <key>image</key>
            <string>http://g.hiphotos.baidu.com/album/w%3D2048/sign=9b054dbaae51f3dec3b2be64a0d6f01f/4034970a304e251f93d96188a686c9177f3e5397.jpg</string>
            <key>images</key>
            <array>
                <dict>
                    <key>url</key>
                    <string>http://e.hiphotos.baidu.com/album/w%3D2048/sign=f8aa2be95fdf8db1bc2e7b643d1bdc54/9e3df8dcd100baa169db6dca4610b912c9fc2ecf.jpg</string>
                    <key>description</key>
                    <string>这是描述，现在没有内容，请尽快填充内容</string>
                </dict>
                <dict>
                    <key>url</key>
                    <string>http://e.hiphotos.baidu.com/album/w%3D2048/sign=f8aa2be95fdf8db1bc2e7b643d1bdc54/9e3df8dcd100baa169db6dca4610b912c9fc2ecf.jpg</string>
                    <key>description</key>
                    <string>这是描述，现在没有内容，请尽快填充内容</string>
                </dict>
                <dict>
                    <key>url</key>
                    <string>http://e.hiphotos.baidu.com/album/w%3D2048/sign=f8aa2be95fdf8db1bc2e7b643d1bdc54/9e3df8dcd100baa169db6dca4610b912c9fc2ecf.jpg</string>
                    <key>description</key>
                    <string>这是描述，现在没有内容，请尽快填充内容</string>
                </dict>
            </array>
        </dict>
    </array>
</plist>
